html {
    font-size: 16px;
    text-align: center;
}

#container .headerTitle {
    text-align: center;
}

.itemComponent .header .headTitle {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}

.itemComponent td {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    border: 2px solid #56433D;
}
.itemComponent td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}

.itemComponent .header .headTitle:nth-child(1),
.itemComponent td:nth-child(1){
    text-align: left;
}

.itemComponent .tableBody .Row img{
    width: 25%;
}